<div class="container app">
  <div class = "row">
    <div class = "col-md-9">
  {{#each news}}
  <h3>{{this.title}}</h3>
  <p>{{this.summary}}</p>
  <img src ="{{this.img}}">
  <a href = {{this.link}}>{{this.link}}</a>
  <br><hr><br>
  {{/each}}
    </div>
  </div>

  
</div>

  {{!-- jQuery --}}
  <script src="https://code.jquery.com/jquery.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="/js/app.js"></script>