<div class="container app">
  {{#if news}}
  {{#each news}}
  <div class="row">
    {{!-- if there are news, display --}}
    <div class="col-md-9">
      <h3>{{this.title}}</h3>
      <p>{{this.summary}}</p>
      <a href={{this.link}}>{{this.link}}</a>
    </div>
    <div class="col-md-3">
      <img src="{{this.img}}">
      {{#unless this.saved}}
      <button data-id={{this._id}} class='btn btn-default save' type='button'>SAVE</button>
      {{/unless}}
    </div>
  </div>
  {{/each}}

  {{!-- else display noarticle --}}
  {{else}}
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>You have no articles yet. click scrape button to get articles!</h4>
    </div>
  </div>
  {{/if}}

</div>
{{!-- jQuery --}}
<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/app.js"></script>