<div class="container app">
  {{#if news}}
  {{#each news}}
  <div class="row">

    {{!-- if there are news, display--}}


    <div class="col-md-9">
      <h3>{{this.title}}</h3>
      <p>{{this.summary}}</p>

      <a href={{this.link}}>{{this.link}}</a>
    </div>
    <div class="col-md-3">
      <img src="{{this.img}}">
      <button type="button" class="btn btn-default addNote" data-toggle="modal" data-target="#noteModal{{this._id}}"
        data-id={{this._id}}>NOTE</button>
      <button data-id={{this._id}} class="btn btn-default deleteSaved" type="button" data-toggle="modal">
        DELETE FROM SAVED </button>
      <br>
    </div>
    <hr>
    <br>
  </div>
  {{/each}}

  {{!-- else display no saved article --}}
  {{else}}
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>You have no saved articles.</h4>
    </div>
  </div>
  {{/if}}


</div>
{{!-- include notes modal --}}
{{#each news}}
{{> notes-modal }}
{{/each}}

{{!-- javascript and jquery --}}
<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/app.js"></script>

{{!-- Bootstrap jquey --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>